@page "/profile"
@using GameClient.Data
@using GameClient.DTO
@using GameClient.Services
@using global::Shared.Data
@using static global::Shared.Data.Messages
@inject IGameService GameService
@inject IAuthService AuthService;
@inject NavigationManager navMgr

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>

<h2>@_account.Username</h2>

            <!-- TODO(rune): Bedre GUI -->
<div class="container">
    <div class="row">
        <div class="col-4"> <!-- TODO(rune): Responsive  -->
            <p>AccountId: @_account.AccountId</p>
            <p>Username: @_account.Username</p>
            <p>FirstName: @_account.FirstName</p>
            <p>LastName: @_account.LastName</p>
            <p>Email: @_account.Email</p>
            <p>Status: @_account.StatusName()</p>
            <p>RegisterDateTime: @_account.RegisterDateTime</p>
            <p>CreatedOn: @_account.CreatedOn</p>
        </div>
        <div class="col-4">
            <img src="@_imgSrc" alt="Profile Picture"/>
        </div>
    </div>
</div>

@if (_isEditing) {
    <hr class="my-5">

    <h1>Edit profile</h1>

    @if (_errorReason != "") {
        <div class="alert alert-danger">@_errorReason</div>
    }

    <p>
        <label>Username</label>
        <input type="text" class="form-control" value="@_account.Username">
    </p>
    <p>
        <label>First name</label>
        <input type="text" class="form-control" value="@_account.FirstName">
    </p>
    <p>
        <label>Last name</label>
        <input type="text" class="form-control" value="@_account.LastName">
    </p>
    <p>
        <label>Email</label>
        <input type="text" class="form-control" value="@_account.Email">
    </p>
    <p>
        <label>Profilbillede.</label>
        <InputFile OnChange="@LoadFile"/>
    </p>


    <button @onclick=OnSaveClicked>Save</button>
} else {
    <button @onclick=OnEditClicked>Edit</button>
}


@code {
    private Account _account = Empty.Account();
    private bool _isEditing = false;
    private IBrowserFile? _uploadedProfilePicture = null;
    private string _imgSrc = "";
    private string _errorReason = "";

    protected override Task OnInitializedAsync() {
        string accountIdString = AuthService.GetClaims().GetOrDefault("userId", "");
        int accountID = ParseUtil.ParseIntOrDefault(accountIdString, 0);
        if (accountID != 0) {
            var req = new GetAccountReq(accountID);
            var res = GameService.GetAccount(req);
            _account = res.account;

            if (_account.ProfilePicture != null &&
                _account.ProfilePictureType != null) {
                _imgSrc = string.Format("data:{0};base64, {1}", _account.ProfilePictureType, _account.ProfilePicture);
            }
        }

        return Task.CompletedTask;
    }

    private void OnEditClicked() {
        _isEditing = true;
    }

    private async Task OnSaveClicked() {
        if (_uploadedProfilePicture == null) {
            _account.ProfilePicture = null;
        } else {
            // NOTE(rune):
            // Lidt spild at læse det hele ind i en temp buffers, når det alligevel bare
            // bliver proxyet til socket, men vi har få brugere so who cares ¯\_(ツ)_/¯.
            // Der er alligevel _mange_ andre problemer at løse, hvis vi skulle lave et
            // effektivt system.
            await using var stream = _uploadedProfilePicture.OpenReadStream();
            var bytes = await ReadAllBytesAsync(stream);
            var base64 = Convert.ToBase64String(bytes);
            _account.ProfilePicture = base64;
            _account.ProfilePictureType = _uploadedProfilePicture.ContentType;
        }

        var req = new UpdateAccountReq(_account);
        var res = GameService.UpdateAccount(req);

        // TODO(rune): Show errorReason
        _errorReason = res.errorReason;
        if (_errorReason == "") {
            navMgr.ReloadCurrentPage();
        }
    }

    private void LoadFile(InputFileChangeEventArgs obj) {
        _uploadedProfilePicture = obj.File;
    }

    // NOTE(rune): https://stackoverflow.com/a/6586039
    private static async Task<byte[]> ReadAllBytesAsync(Stream input) {
        using MemoryStream ms = new MemoryStream();
        await input.CopyToAsync(ms);
        return ms.ToArray();
    }
}
